.paginator--karaboz{
  --p3000-font-size: 1em;
  --p3000-active-bg: #E34BA0;
  --p3000-scroll-height: 10px;
  --p3000-knob-size: 20px;
  --p3000-thumb-color: rgba(0,0,0, 0.2);;
  --p3000-scroll-bg: rgba(0,0,0, 0.1);
}
.paginator--karaboz .link{
  text-decoration: none;
  color: #E34BA0;
  font-weight: bold;
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.paginator--karaboz .active{
  background: #E34BA0;
  border-radius: 5px;
  color: white;
}

.paginator {
  font-size: var(--p3000-font-size);
  width: 100%;
  user-select: none;
}

.paginator table {
  border-collapse:collapse;
  table-layout:fixed;
  width:100%;
}
.paginator table td {
  padding:0;
  white-space:nowrap;
  text-align:center;
}
.paginator span {
  display:block;
  padding:3px 0;
  color:#fff;
}
.paginator .scroll_bar {
  width:100%;
  display: flex;
  align-items: center;
  height:20px;
  cursor: pointer;
  position:relative;
}
.paginator .scroll_trough {
  width:100%;
  height: var(--p3000-scroll-height);
  background: var(--p3000-scroll-bg);
  overflow:hidden;
  border-radius: 3px;
}
.paginator .scroll_thumb {
  position:absolute;
  z-index:2;
  width:0;
  height: var(--p3000-scroll-height);
  left:0;
  font-size:1px;
  background: var(--p3000-thumb-color);
  cursor:pointer;
  border-radius: 3px;
}
.paginator .scroll_knob {
  position:absolute;
  top:-5px;
  left:50%;
  margin-left:-10px;
  width:  var(--p3000-knob-size);
  height: var(--p3000-knob-size);
  overflow:hidden;
  background: url(slider_knob.gif) no-repeat 50% 50%;
  cursor:pointer;
  border-radius: 3px;
}
.paginator .current_page_mark {
  position:absolute;
  z-index:3;
  pointer-events: none;
  left:0;
  border-radius: 3px;
  width:0;
  height: var(--p3000-scroll-height);
  overflow:hidden;
  background: var(--p3000-active-bg);
}

.fullsize .scroll_thumb {
  display:none;
}


.paginator_pages {
  width:600px;
  text-align:right;
  font-size:0.8em;
  color:#808080;
  margin-top:-10px;
}
